---
layout: default
---

<article>
  {% include meta.html post=page %}

  {% if page.toc %}
    <div class="toc-container">
      <h2 id="toc-title" class="toc-title">목차</h2>
      {{ content | toc_only }}
    </div>
  {% endif %}

  {{ content }}

  <div class="category-container">
    <span>Category: {{ page.categories[0] }}</span>
  </div>

  {% include related-posts.html %}

  {% if page.comments != false and site.comments.isso or site.comments.disqus %}
    <hr>
    {% if site.comments.isso_domain %}<div id="isso-thread"></div>{% endif %}
    {% if site.comments.disqus_shortname %}<div id="disqus_thread"></div>{% endif %}
    <noscript>Please enable JavaScript to view comments.</noscript>
  {% endif %}
</article>
